.search-bar {
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    box-shadow: 0px 20px 25px -20px rgb(81, 214, 255);
    height: 70px;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 20px 10px 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-bar:hover {
    box-shadow: 0px 20px 25px -20px rgb(81, 255, 194);
}
.search-bar__input {
    background: none;
    font-size: 25px;
    font-weight: 500;
    border: none;
    outline: none;
    width: 70%;
    color:rgb(81, 255, 194);
}
.search-bar__suggestion {
    font-size: 15px;
    font-weight: 600;
    color: rgb(216, 245, 255);
    text-transform: lowercase;
}
.search-bar__icon {
    margin-left: auto;
}
.search-bar__icon svg {
    background-color: rgb(81, 214, 255);
    padding: 17px;
    border-radius: 10px;
    margin-left: 30px;
    cursor: pointer;
    transition: .7s ease;
}
.search-bar__icon:hover svg {
    background-color: rgb(81, 255, 194);
}
.search-bar__icon svg path {
    fill: black;
}

.tip {
    font-size: 10px;
    font-weight: 800;
    margin-top: 30px;
    color: rgb(81, 214, 255);
}